html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 4em 0;
    background-color: #f8f8f8;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

.social-links {
    text-align: center;
    padding: 10px;
}

.social-links a {
    margin: 0 10px;
    color: white; /* Set icon color to white */
    font-size: 40px; /* Set icon size to be twice as large */
}

.social-links a:hover {
    color: #007bff; /* Change hover color as needed */
    opacity: 0.8; /* Optional: Adds a slight transparency effect on hover */
}


